
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>ĐỊA CHỈ LIÊN HỆ</h2>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15673.936857302602!2d106.796096!3d10.850728000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752740417f0051%3A0x247f8c2c85b354cf!2zNDIgxJAuIEQyLCBQaMaw4budbmcgVMOibiBQaMO6LCBRdeG6rW4gOSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2sus!4v1667465148941!5m2!1svi!2sus" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>


